version: '3.8'

services:
  bank-app:
    image: ghcr.io/kirtan001/r_bank_marketing_uci_classification:main
    ports:
      - "7860:7860"
    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
    networks:
      - bank-net

networks:
  bank-net:
    driver: overlay
